{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
