.redux-modal {
  display: none;

  &--opened {
    width: 650px;
    height: 530px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -265px;
    background: #fff;
    z-index: 999999999;
  }
}
